<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New ServiceOrder</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @serviceorder.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Test: </td>
                <td class="itemValue"><input type="text" name="serviceorder[test]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
